.idea
.vscode
.vscode/*
*.code-workspace
*.dat
*.lck
*.log
*.ctrl
*.pyc

**/.DS_Store

*tests/config/*
metastore_db/log/README_DO_NOT_TOUCH_FILES.txt

metastore_db/README_DO_NOT_TOUCH_FILES.txt

metastore_db/seg0/README_DO_NOT_TOUCH_FILES.txt

metastore_db/service.properties

.cache/*
.vscode/settings.json

__pycache__/
*-checkpoint.ipynb

**/.ipynb_checkpoints/*
**/.virtual_documents/*
assets/.METADATA/job_run.*
assets/job_run
__pypackages__/
*.py[cod]
*$py.class
*.so
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
profile_default/
ipython_config.py
celerybeat-schedule
celerybeat.pid
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.pyre/
.pytype/
cython_debug/

**/mlruns
**/logs
**/lightning_logs
**/w3publisher_samples